
body {
    font-family: sans-serif;
    color: white;
    background-color: #000000;
}
.code  {
    background-color: #1D202E;
    width: 50%;
    height: 15rem;
    margin: 70px auto;
    padding: 1rem;
}
.fa-brands {
    color: #fff;
    font-size: 28px;
    margin-right: 20px;
    margin-top: 20px;
    cursor: pointer;
}
.portfolio {
    color: #525767;
}
.container  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.me img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.title {
    font-size: 52px;
    background: -webkit-linear-gradient(#DA8AFF, #FDBCCD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.desc {
    font-size: 32px;
    background: -webkit-linear-gradient(#B7F9FC, #84EACE);
    -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 32px;
}

@media only screen and (max-width: 600px) {
    .code  {
        height: 20rem;
        margin-top: 50px;
    }
    .title {
        font-size: 36px;
    }
    .desc {
        font-size: 20px;
    }
}
ul {
    list-style-type: none;
}
.flex {
    display: flex;
}
